* {
	background: black;
	color: white;
}

.centeringoutside {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 5%;
}

.outside {
	display: flex;
	width: 350px;
	height: 500px;
	background-color: black;
	border-style: solid;
	border-color: gray;
}
